@import "tailwindcss";

@layer base {
  body {
    background-color: #fff;
    color: #040f2e;
    font-family: "Inter", serif;
  }
}

/* Animación para el banner de bienvenida */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideDown {
  animation: slideDown 0.5s ease-out;
}
