@import "tailwindcss";

@layer base {
  body {
    background-color: #fff;
    color: #040f2e;
    font-family: "Inter", serif;
  }
}
.admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-admin {
  padding: 10px 20px;
  background-color: #040f2e;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.btn-admin:hover {
  background-color: #1b2a40;
}
.role-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.role-selection button {
  background-color: #040f2e;
  color: white;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.role-selection button:hover {
  background-color: #1b2a40;
}
